#m-147fcf94-abdd-4fce-9130-259eb20bc4c7 #m-147fcf94-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147fcf94-abdd-4fce-9130-259eb20bc4c7 #m-147fcf94-Header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-147fcf94-abdd-4fce-9130-259eb20bc4c7.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}