#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bgRect {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgDividers {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSuperClub {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolic {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pSolicitudes {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolicitudes {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pInversiones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacciones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pTransacciones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacc {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bConsultas {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pConsultas {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-txtAyuda {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgTooltipBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}