#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-P_Controller {
  position: absolute;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Panel_ON {
  width: 1366px;
  height: 800px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Panel_ON > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Panel_ON td.layout {
  padding: 0px 0px 0px 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Panel_ON > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 800px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Panel_ON .verticalalign {
  vertical-align: top;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-gController {
  position: absolute;
  width: 1366px;
  height: 740px;
  display: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bgRect > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bgRect {
  position: absolute;
  width: 1366px;
  height: 740px;
  opacity: 0.8;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bgRect > .clipping, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bgRect > .paddingLayer {
  height: 740px;
  width: 1366px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bgRect .valign {
  vertical-align: middle;
  text-align: center;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bgRect span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bgRect span#rtr-m-229ebc69-bgRect_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgDividers {
  position: absolute;
  width: 1280px;
  height: 100px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgDividers > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgDividers > svg {
  height: 100px;
  width: 1280px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSuperClub {
  position: absolute;
  width: 215px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSuperClub > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSuperClub > svg {
  height: 42px;
  width: 215px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-P_Solicitudes {
  position: absolute;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-S_Off {
  width: 187px;
  height: 42px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-S_Off > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-S_Off td.layout {
  padding: 0px 0px 0px 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-S_Off > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 187px;
  height: 42px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-S_Off .verticalalign {
  vertical-align: top;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolic {
  position: absolute;
  width: 201px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolic > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolic > svg {
  height: 42px;
  width: 201px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-S_on {
  width: 200px;
  height: 238px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-S_on > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-S_on td.layout {
  padding: 0px 0px 0px 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-S_on > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 200px;
  height: 238px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-S_on .verticalalign {
  vertical-align: top;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pSolicitudes > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pSolicitudes {
  position: absolute;
  width: 162px;
  height: 164px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  display: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 12.0pt;
  font-family: 'Open Sans',Arial;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pSolicitudes > .clipping, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pSolicitudes > .paddingLayer {
  height: 164px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pSolicitudes .valign {
  vertical-align: top;
  text-align: left;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pSolicitudes span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pSolicitudes span#rtr-m-229ebc69-pSolicitudes_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolicitudes {
  position: absolute;
  width: 201px;
  height: 42px;
  opacity: 0.4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolicitudes > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolicitudes > svg {
  height: 42px;
  width: 201px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_7 {
  position: absolute;
  width: 162px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_7 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_7 > svg {
  height: 33px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-P_Inversiones {
  position: absolute;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-I_Off {
  width: 209px;
  height: 42px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-I_Off > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-I_Off td.layout {
  padding: 0px 0px 0px 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-I_Off > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 209px;
  height: 42px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-I_Off .verticalalign {
  vertical-align: top;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones1 {
  position: absolute;
  width: 201px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones1 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones1 > svg {
  height: 42px;
  width: 201px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-I_On {
  width: 195px;
  height: 251px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-I_On > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-I_On td.layout {
  padding: 0px 0px 0px 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-I_On > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 195px;
  height: 251px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-I_On .verticalalign {
  vertical-align: top;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pInversiones > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pInversiones {
  position: absolute;
  width: 162px;
  height: 178px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  display: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 12.0pt;
  font-family: 'Open Sans',Arial;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pInversiones > .clipping, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pInversiones > .paddingLayer {
  height: 178px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pInversiones .valign {
  vertical-align: top;
  text-align: left;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pInversiones span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pInversiones span#rtr-m-229ebc69-pInversiones_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones {
  position: absolute;
  width: 194px;
  height: 42px;
  opacity: 0.4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones > svg {
  height: 42px;
  width: 194px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_5 {
  position: absolute;
  width: 162px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_5 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_5 > svg {
  height: 33px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_6 {
  position: absolute;
  width: 162px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_6 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_6 > svg {
  height: 48px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-P_Transacciones {
  position: absolute;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-T_Off {
  width: 252px;
  height: 42px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-T_Off > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-T_Off td.layout {
  padding: 0px 0px 0px 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-T_Off > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 252px;
  height: 42px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-T_Off .verticalalign {
  vertical-align: top;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacciones {
  position: absolute;
  width: 201px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacciones > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacciones > svg {
  height: 42px;
  width: 201px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-T_On {
  width: 235px;
  height: 263px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-T_On > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-T_On td.layout {
  padding: 0px 0px 0px 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-T_On > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 235px;
  height: 263px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-T_On .verticalalign {
  vertical-align: top;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pTransacciones > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pTransacciones {
  position: absolute;
  width: 206px;
  height: 196px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  display: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 12.0pt;
  font-family: 'Open Sans',Arial;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pTransacciones > .clipping, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pTransacciones > .paddingLayer {
  height: 196px;
  width: 206px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pTransacciones .valign {
  vertical-align: top;
  text-align: left;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pTransacciones span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pTransacciones span#rtr-m-229ebc69-pTransacciones_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pTransacciones span#rtr-m-229ebc69-pTransacciones_1 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacc {
  position: absolute;
  width: 201px;
  height: 42px;
  opacity: 0.4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacc > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacc > svg {
  height: 42px;
  width: 201px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_4 {
  position: absolute;
  width: 162px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_4 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_4 > svg {
  height: 33px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_8 {
  position: absolute;
  width: 162px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_8 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_8 > svg {
  height: 33px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-P_Consultas {
  position: absolute;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-C_Off {
  width: 173px;
  height: 42px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-C_Off > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-C_Off td.layout {
  padding: 0px 0px 0px 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-C_Off > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 173px;
  height: 42px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-C_Off .verticalalign {
  vertical-align: top;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bConsultas {
  position: absolute;
  width: 172px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bConsultas > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bConsultas > svg {
  height: 42px;
  width: 172px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-C_On {
  width: 185px;
  height: 327px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-C_On > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-C_On td.layout {
  padding: 0px 0px 0px 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-C_On > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 185px;
  height: 327px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-C_On .verticalalign {
  vertical-align: top;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pConsultas > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pConsultas {
  position: absolute;
  width: 162px;
  height: 266px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  display: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 12.0pt;
  font-family: 'Open Sans',Arial;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pConsultas > .clipping, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pConsultas > .paddingLayer {
  height: 266px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pConsultas .valign {
  vertical-align: top;
  text-align: left;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pConsultas span {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pConsultas span#rtr-m-229ebc69-pConsultas_0 {
  color: #F3F3F3;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Image_2 {
  position: absolute;
  width: 172px;
  height: 42px;
  opacity: 0.4;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Image_2 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Image_2 > svg {
  height: 42px;
  width: 172px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_1 {
  position: absolute;
  width: 162px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_1 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_1 > svg {
  height: 33px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_2 {
  position: absolute;
  width: 162px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_2 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_2 > svg {
  height: 33px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_3 {
  position: absolute;
  width: 162px;
  height: 33px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_3 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Hotspot_3 > svg {
  height: 33px;
  width: 162px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Tooltips {
  position: absolute;
  width: 765px;
  height: 21px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip4 {
  position: absolute;
  width: 21px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip4 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip4 > svg {
  height: 20px;
  width: 21px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip3 {
  position: absolute;
  width: 21px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip3 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip3 > svg {
  height: 20px;
  width: 21px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip2 {
  position: absolute;
  width: 21px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip2 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip2 > svg {
  height: 20px;
  width: 21px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip1 {
  position: absolute;
  width: 21px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip1 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip1 > svg {
  height: 20px;
  width: 21px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-GInicio {
  position: absolute;
  width: 80px;
  height: 44px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Open Sans',Arial;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Text_1 > .clipping, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Text_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Text_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Text_1 span#rtr-m-229ebc69-Text_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnInicio {
  position: absolute;
  width: 80px;
  height: 44px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnInicio > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnInicio > svg {
  height: 44px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-txtAyuda > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-txtAyuda {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Open Sans',Arial;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-txtAyuda > .clipping, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-txtAyuda > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-txtAyuda .valign {
  vertical-align: middle;
  text-align: center;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-txtAyuda span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-txtAyuda span#rtr-m-229ebc69-txtAyuda_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-gHeader {
  position: absolute;
  width: 1366px;
  height: 60px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-BG > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #3C3C3C;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-BG {
  position: absolute;
  width: 1366px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-BG > .clipping, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-BG > .paddingLayer {
  height: 60px;
  width: 1366px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-BG .valign {
  vertical-align: middle;
  text-align: center;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-BG span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-BG span#rtr-m-229ebc69-BG_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Header {
  position: absolute;
  width: 1366px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Header > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Header > svg {
  height: 60px;
  width: 1366px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnCloseHeader {
  position: absolute;
  width: 106px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnCloseHeader > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnCloseHeader > svg {
  height: 50px;
  width: 106px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnHome {
  position: absolute;
  width: 199px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnHome > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnHome > svg {
  height: 50px;
  width: 199px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Panel_OFF {
  width: 1366px;
  height: 60px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Panel_OFF > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Panel_OFF td.layout {
  padding: 0px 0px 0px 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Panel_OFF > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 60px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Panel_OFF .verticalalign {
  vertical-align: top;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnCloseHeader_1 {
  position: absolute;
  width: 106px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnCloseHeader_1 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnCloseHeader_1 > svg {
  height: 50px;
  width: 106px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnHome_1 {
  position: absolute;
  width: 199px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnHome_1 > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnHome_1 > svg {
  height: 50px;
  width: 199px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-G_TooltipBox {
  position: absolute;
  width: 240px;
  height: 155px;
  display: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgTooltipBox {
  position: absolute;
  width: 240px;
  height: 155px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgTooltipBox > img, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgTooltipBox > svg {
  height: 155px;
  width: 240px;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Paragraph_1 {
  position: absolute;
  width: 172px;
  height: 81px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Paragraph_1 > .clipping, #m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Paragraph_1 > .paddingLayer {
  height: 81px;
  width: 172px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Paragraph_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Paragraph_1 span#rtr-m-229ebc69-Paragraph_1_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}