#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bgRect {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgDividers {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSuperClub {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolic {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pSolicitudes {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolicitudes {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones1 {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pInversiones {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacciones {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pTransacciones {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacc {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bConsultas {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pConsultas {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Image_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip4 {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip3 {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip2 {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip1 {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-txtAyuda {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-BG {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Header {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgTooltipBox {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}