#m-24d9fbe8-6b4e-4e0b-9588-74ef4eb96b7c #m-24d9fbe8-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-24d9fbe8-6b4e-4e0b-9588-74ef4eb96b7c #m-24d9fbe8-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-24d9fbe8-6b4e-4e0b-9588-74ef4eb96b7c #m-24d9fbe8-pTitle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-24d9fbe8-6b4e-4e0b-9588-74ef4eb96b7c.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}