#m-2c4cca10-2d3c-42cc-a146-62a89a5ae706 #m-2c4cca10-imgOff {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c4cca10-2d3c-42cc-a146-62a89a5ae706 #m-2c4cca10-imgOn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2c4cca10-2d3c-42cc-a146-62a89a5ae706.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}