#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-Header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}