#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-PHeader {
  position: absolute;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-Panel_1 {
  width: 1280px;
  height: 60px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 60px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-Panel_1 .verticalalign {
  vertical-align: top;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-Group_1 {
  position: absolute;
  width: 1366px;
  height: 60px;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-BG > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #EC0000;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  box-shadow: none;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-BG {
  position: absolute;
  width: 1366px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-BG > .clipping, #m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-BG > .paddingLayer {
  height: 60px;
  width: 1366px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-BG .valign {
  vertical-align: middle;
  text-align: center;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-BG span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-BG span#rtr-m-586932a5-BG_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-Header {
  position: absolute;
  width: 1366px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-Header > img, #m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-Header > svg {
  height: 60px;
  width: 1366px;
  box-shadow: none;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}