#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-BG {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-Header {
  -ms-transform: rotate(0.0deg);
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}