#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-itemBG_20 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-txtVal_28 {
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-itemBG_22 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-txtVal_27 {
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-itemBG_4 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-txtVal_4 {
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-itemBG_23 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-txtVal_11 {
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-itemBG_5 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-txtVal_5 {
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-itemBG_24 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-txtVal_12 {
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-itemBG_25 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-txtVal_20 {
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-itemBG_10 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-txtVal_21 {
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-itemBG_26 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-txtVal_22 {
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-txtVal_23 {
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-itemBG_6 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0 #m-6ad495c3-txtVal_26 {
  -ms-transform: rotate(0.0deg);
}
#m-6ad495c3-2737-4362-87ec-9b83e0da8ae0.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}