#m-78a05f3b-8367-4536-8907-e0d6517c321b #m-78a05f3b-imgBtnPlus {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-78a05f3b-8367-4536-8907-e0d6517c321b #m-78a05f3b-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-78a05f3b-8367-4536-8907-e0d6517c321b #m-78a05f3b-Actions .m-78a05f3b-Text_3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -2px;
}
#m-78a05f3b-8367-4536-8907-e0d6517c321b #m-78a05f3b-imgBtnPlus2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-78a05f3b-8367-4536-8907-e0d6517c321b #m-78a05f3b-imgBtnPlusX {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-78a05f3b-8367-4536-8907-e0d6517c321b.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}