#m-78a05f3b-8367-4536-8907-e0d6517c321b #m-78a05f3b-imgBtnPlus {
  -ms-transform: rotate(0.0deg);
}
#m-78a05f3b-8367-4536-8907-e0d6517c321b #m-78a05f3b-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#m-78a05f3b-8367-4536-8907-e0d6517c321b #m-78a05f3b-Actions .m-78a05f3b-Text_3 {
  -ms-transform: rotate(270.0deg);
}
#m-78a05f3b-8367-4536-8907-e0d6517c321b #m-78a05f3b-imgBtnPlus2 {
  -ms-transform: rotate(0.0deg);
}
#m-78a05f3b-8367-4536-8907-e0d6517c321b #m-78a05f3b-imgBtnPlusX {
  -ms-transform: rotate(0.0deg);
}
#m-78a05f3b-8367-4536-8907-e0d6517c321b.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}