#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_5 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C9C9C9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C9C9C9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C9C9C9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C9C9C9;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_1 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_1 {
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-imgSelect_1 {
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal {
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-imgSelect {
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_3 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_4 {
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_5 {
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_4 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_6 {
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_2 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_3 {
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_2 {
  -ms-transform: rotate(0.0deg);
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}