#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-GformSwitch {
  position: absolute;
  width: 460px;
  height: 90px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_5 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_5 {
  position: absolute;
  width: 460px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Open Sans',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_5 > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_5 > .paddingLayer {
  height: 79px;
  width: 449px;
  padding-top: 9px;
  padding-bottom: 2px;
  padding-left: 11px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_5 .valign {
  vertical-align: top;
  text-align: left;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_5 span#rtr-m-798bd592-itemBG_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_2 {
  position: absolute;
  width: 441px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Open Sans',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_2 > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_2 span {
  color: #3C3C3C;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_2 span#rtr-m-798bd592-Paragraph_2_0 {
  color: #3C3C3C;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-PSwitch {
  position: absolute;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-pON {
  width: 36px;
  height: 23px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-pON > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-pON td.layout {
  padding: 0px 0px 0px 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-pON > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 36px;
  height: 23px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-pON .verticalalign {
  vertical-align: top;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #EC0000;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_1 {
  position: absolute;
  width: 35px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_1 > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_1 > .paddingLayer {
  height: 20px;
  width: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_1 span#rtr-m-798bd592-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  overflow: hidden;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Ellipse_1 .content {
  width: 16px;
  height: 16px;
}
#shapewrapper-m-798bd592-Ellipse_1 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Ellipse_1 {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #shapewrapper-m-798bd592-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #shapewrapper-m-798bd592-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #shapewrapper-m-798bd592-Ellipse_1 span#rtr-m-798bd592-Ellipse_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Hotspot_1 {
  position: absolute;
  width: 36px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Hotspot_1 > img, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Hotspot_1 > svg {
  height: 23px;
  width: 36px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-pOFF {
  width: 36px;
  height: 23px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-pOFF > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-pOFF td.layout {
  padding: 0px 0px 0px 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-pOFF > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 36px;
  height: 23px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-pOFF .verticalalign {
  vertical-align: top;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #C9C9C9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C9C9C9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C9C9C9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C9C9C9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C9C9C9;
  border-radius: 9px 9px 9px 9px;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_3 {
  position: absolute;
  width: 35px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_3 > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_3 > .paddingLayer {
  height: 18px;
  width: 33px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_3 span {
  color: #EC0000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Rectangle_3 span#rtr-m-798bd592-Rectangle_3_0 {
  color: #EC0000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  overflow: hidden;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Ellipse_3 .content {
  width: 16px;
  height: 16px;
}
#shapewrapper-m-798bd592-Ellipse_3 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Ellipse_3 {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #shapewrapper-m-798bd592-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #shapewrapper-m-798bd592-Ellipse_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #shapewrapper-m-798bd592-Ellipse_3 span#rtr-m-798bd592-Ellipse_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Hotspot_2 {
  position: absolute;
  width: 36px;
  height: 23px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Hotspot_2 > img, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Hotspot_2 > svg {
  height: 23px;
  width: 36px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-GformSelect {
  position: absolute;
  width: 460px;
  height: 40px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_1 {
  position: absolute;
  width: 460px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Open Sans',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_1 > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_1 > .paddingLayer {
  height: 38px;
  width: 449px;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 11px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_1 span#rtr-m-798bd592-itemBG_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Open Sans',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_1 > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_1 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_1 span {
  color: #3C3C3C;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 600;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_1 span#rtr-m-798bd592-txtVal_1_0 {
  color: #3C3C3C;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-imgSelect_1 > svg {
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-imgSelect_1 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-imgSelect_1 > img, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-imgSelect_1 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-GformSelectCuentas {
  position: absolute;
  width: 460px;
  height: 90px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG {
  position: absolute;
  width: 460px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Open Sans',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG > .paddingLayer {
  height: 79px;
  width: 449px;
  padding-top: 9px;
  padding-bottom: 2px;
  padding-left: 11px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG .valign {
  vertical-align: top;
  text-align: left;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG span#rtr-m-798bd592-itemBG_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_1 {
  position: absolute;
  width: 89px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Open Sans',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_1 > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_1 span {
  color: #3C3C3C;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-Paragraph_1 span#rtr-m-798bd592-Paragraph_1_0 {
  color: #3C3C3C;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Open Sans',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal .valign {
  vertical-align: middle;
  text-align: right;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal span {
  color: #3C3C3C;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 600;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal span#rtr-m-798bd592-txtVal_0 {
  color: #3C3C3C;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-imgSelect > svg {
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-imgSelect {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-imgSelect > img, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-imgSelect > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-GformLabel_1 {
  position: absolute;
  width: 460px;
  height: 55px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_3 {
  position: absolute;
  width: 460px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Open Sans',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_3 > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_3 > .paddingLayer {
  height: 44px;
  width: 449px;
  padding-top: 9px;
  padding-bottom: 2px;
  padding-left: 11px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_3 .valign {
  vertical-align: top;
  text-align: left;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_3 span#rtr-m-798bd592-itemBG_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Open Sans',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_4 > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_4 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_4 span {
  color: #EC0000;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 600;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_4 span#rtr-m-798bd592-txtVal_4_0 {
  color: #EC0000;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Open Sans',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_5 > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_5 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_5 span {
  color: #3C3C3C;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 600;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_5 span#rtr-m-798bd592-txtVal_5_0 {
  color: #3C3C3C;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-GformLabel_2 {
  position: absolute;
  width: 460px;
  height: 40px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_4 {
  position: absolute;
  width: 460px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Open Sans',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_4 > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_4 > .paddingLayer {
  height: 38px;
  width: 449px;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 11px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_4 span#rtr-m-798bd592-itemBG_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Open Sans',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_6 > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_6 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_6 span {
  color: #3C3C3C;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 600;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_6 span#rtr-m-798bd592-txtVal_6_0 {
  color: #3C3C3C;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-GformLabel {
  position: absolute;
  width: 460px;
  height: 55px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_2 {
  position: absolute;
  width: 460px;
  height: 55px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Open Sans',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_2 > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_2 > .paddingLayer {
  height: 44px;
  width: 449px;
  padding-top: 9px;
  padding-bottom: 2px;
  padding-left: 11px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_2 .valign {
  vertical-align: top;
  text-align: left;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-itemBG_2 span#rtr-m-798bd592-itemBG_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Open Sans',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_3 > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_3 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_3 span {
  color: #3C3C3C;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_3 span#rtr-m-798bd592-txtVal_3_0 {
  color: #3C3C3C;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Open Sans',Arial;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_2 > .clipping, #m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_2 span {
  color: #3C3C3C;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 600;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216 #m-798bd592-txtVal_2 span#rtr-m-798bd592-txtVal_2_0 {
  color: #3C3C3C;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#m-798bd592-1a65-498d-87d6-91ce8dad3216.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}