#m-cccf839a-6914-42db-b291-d4314a9d7904 #m-cccf839a-imgBtnPlus {
  -ms-transform: rotate(0.0deg);
}
#m-cccf839a-6914-42db-b291-d4314a9d7904 #m-cccf839a-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#m-cccf839a-6914-42db-b291-d4314a9d7904 #m-cccf839a-Actions .m-cccf839a-Text_3 {
  -ms-transform: rotate(270.0deg);
}
#m-cccf839a-6914-42db-b291-d4314a9d7904 #m-cccf839a-imgBtnPlus2 {
  -ms-transform: rotate(0.0deg);
}
#m-cccf839a-6914-42db-b291-d4314a9d7904 #m-cccf839a-imgBtnPlusX {
  -ms-transform: rotate(0.0deg);
}
#m-cccf839a-6914-42db-b291-d4314a9d7904.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}