#m-cccf839a-6914-42db-b291-d4314a9d7904 #m-cccf839a-imgBtnPlus {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cccf839a-6914-42db-b291-d4314a9d7904 #m-cccf839a-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cccf839a-6914-42db-b291-d4314a9d7904 #m-cccf839a-Actions .m-cccf839a-Text_3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -2px;
}
#m-cccf839a-6914-42db-b291-d4314a9d7904 #m-cccf839a-imgBtnPlus2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cccf839a-6914-42db-b291-d4314a9d7904 #m-cccf839a-imgBtnPlusX {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-cccf839a-6914-42db-b291-d4314a9d7904.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}