#m-d88df7c0-bb3f-482b-ac7e-8a864ccaf384 #m-d88df7c0-rASModalBG {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#m-d88df7c0-bb3f-482b-ac7e-8a864ccaf384 #m-d88df7c0-imgBtnPlus {
  -ms-transform: rotate(0.0deg);
}
#m-d88df7c0-bb3f-482b-ac7e-8a864ccaf384 #m-d88df7c0-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#m-d88df7c0-bb3f-482b-ac7e-8a864ccaf384 #m-d88df7c0-Actions .m-d88df7c0-Text_3 {
  -ms-transform: rotate(270.0deg);
}
#m-d88df7c0-bb3f-482b-ac7e-8a864ccaf384 #m-d88df7c0-imgBtnPlus2 {
  -ms-transform: rotate(0.0deg);
}
#m-d88df7c0-bb3f-482b-ac7e-8a864ccaf384 #m-d88df7c0-imgBtnPlusX {
  -ms-transform: rotate(0.0deg);
}
#m-d88df7c0-bb3f-482b-ac7e-8a864ccaf384.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}