#m-d88df7c0-bb3f-482b-ac7e-8a864ccaf384 #m-d88df7c0-rASModalBG {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d88df7c0-bb3f-482b-ac7e-8a864ccaf384 #m-d88df7c0-imgBtnPlus {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d88df7c0-bb3f-482b-ac7e-8a864ccaf384 #m-d88df7c0-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d88df7c0-bb3f-482b-ac7e-8a864ccaf384 #m-d88df7c0-Actions .m-d88df7c0-Text_3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -2px;
}
#m-d88df7c0-bb3f-482b-ac7e-8a864ccaf384 #m-d88df7c0-imgBtnPlus2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d88df7c0-bb3f-482b-ac7e-8a864ccaf384 #m-d88df7c0-imgBtnPlusX {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d88df7c0-bb3f-482b-ac7e-8a864ccaf384.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}