#m-dd5d3592-dbea-4feb-ab61-24edd94298d8 #m-dd5d3592-imgTooltipBox {
  -ms-transform: rotate(0.0deg);
}
#m-dd5d3592-dbea-4feb-ab61-24edd94298d8 #m-dd5d3592-imgQuestionButton {
  -ms-transform: rotate(0.0deg);
}
#m-dd5d3592-dbea-4feb-ab61-24edd94298d8.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}