#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-GSaldos {
  position: absolute;
  width: 520px;
  height: 260px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-Rectangle_15 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  box-shadow: none;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-Rectangle_15 {
  position: absolute;
  width: 520px;
  height: 260px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-Rectangle_15 > .clipping, #m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-Rectangle_15 > .paddingLayer {
  height: 258px;
  width: 520px;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-Rectangle_15 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-Rectangle_15 span#rtr-m-e663f5b1-Rectangle_15_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-Group_4 {
  position: absolute;
  width: 441px;
  height: 62px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 19.0pt;
  font-family: 'Open Sans',Arial;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_2 > .clipping, #m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_2 span {
  color: #9F9F9F;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_2 span#rtr-m-e663f5b1-valDwn_2_0 {
  color: #9F9F9F;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 19.0pt;
  font-family: 'Open Sans',Arial;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_2 > .clipping, #m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_2 span {
  color: #9F9F9F;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_2 span#rtr-m-e663f5b1-valUp_2_0 {
  color: #9F9F9F;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 19.0pt;
  font-family: 'Open Sans',Arial;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_2 > .clipping, #m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_2 span {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_2 span#rtr-m-e663f5b1-lbl_2_0 {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_2 span#rtr-m-e663f5b1-lbl_2_1 {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-Group_3 {
  position: absolute;
  width: 460px;
  height: 70px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lnDiv_1 {
  position: absolute;
  width: 460px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C9C9C9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-m-e663f5b1-lnDiv_1 {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 19.0pt;
  font-family: 'Open Sans',Arial;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_1 > .clipping, #m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_1 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_1 span {
  color: #9F9F9F;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_1 span#rtr-m-e663f5b1-valDwn_1_0 {
  color: #9F9F9F;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 19.0pt;
  font-family: 'Open Sans',Arial;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_1 > .clipping, #m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_1 .valign {
  vertical-align: middle;
  text-align: right;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_1 span {
  color: #9F9F9F;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_1 span#rtr-m-e663f5b1-valUp_1_0 {
  color: #9F9F9F;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 19.0pt;
  font-family: 'Open Sans',Arial;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_1 > .clipping, #m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_1 span {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_1 span#rtr-m-e663f5b1-lbl_1_0 {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_1 span#rtr-m-e663f5b1-lbl_1_1 {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-Group_2 {
  position: absolute;
  width: 460px;
  height: 70px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lnDiv {
  position: absolute;
  width: 460px;
  height: 2px;
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C9C9C9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#shapewrapper-m-e663f5b1-lnDiv {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 19.0pt;
  font-family: 'Open Sans',Arial;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn > .clipping, #m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn .valign {
  vertical-align: middle;
  text-align: right;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn span {
  color: #9F9F9F;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn span#rtr-m-e663f5b1-valDwn_0 {
  color: #9F9F9F;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 19.0pt;
  font-family: 'Open Sans',Arial;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp > .clipping, #m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp .valign {
  vertical-align: middle;
  text-align: right;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp span {
  color: #9F9F9F;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp span#rtr-m-e663f5b1-valUp_0 {
  color: #9F9F9F;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 19.0pt;
  font-family: 'Open Sans',Arial;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl > .clipping, #m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl .valign {
  vertical-align: middle;
  text-align: left;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl span {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl span#rtr-m-e663f5b1-lbl_0 {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 19.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}