#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-Rectangle_15 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_2 {
  -ms-transform: rotate(0.0deg);
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_2 {
  -ms-transform: rotate(0.0deg);
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_2 {
  -ms-transform: rotate(0.0deg);
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lnDiv_1 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lnDiv_1 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn_1 {
  -ms-transform: rotate(0.0deg);
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp_1 {
  -ms-transform: rotate(0.0deg);
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl_1 {
  -ms-transform: rotate(0.0deg);
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lnDiv {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lnDiv {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valDwn {
  -ms-transform: rotate(0.0deg);
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-valUp {
  -ms-transform: rotate(0.0deg);
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54 #m-e663f5b1-lbl {
  -ms-transform: rotate(0.0deg);
}
#m-e663f5b1-05d7-4d3b-a66d-b2ac62898e54.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}