#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-bgModal {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-stackBG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-TAgenda .m-f3af008b-itemBG_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-TAgenda .m-f3af008b-imgSelect_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 0px;
  margin-top: -1px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-TAgenda .m-f3af008b-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnNuevoDest {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-pSubtitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-pTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnVolver {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnConfirmar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgSelect_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgSelect_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgSelect_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtImporte {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtNombreDestinataio {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnVolver2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnConfirm {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtNombreDestinataio_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-pDesc {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgFeedbackOk {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-tTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnVolver2_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnVolver2_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgOFF {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgON {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgOFF_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgON_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgOFF_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgON_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgSelect_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-stackTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnClose {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-rect_bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-img_popup {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnConfirmYes {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnConfirmNo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgGradient_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-stackBG1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgDownload {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-tDownload {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Paragraph_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtTransAmt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtDestComprobante {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-stackTitle2_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnClose_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}