#t-693f56c4-4868-4fa1-8d80-c37cba0a0050 #t-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#t-693f56c4-4868-4fa1-8d80-c37cba0a0050 #t-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#t-693f56c4-4868-4fa1-8d80-c37cba0a0050 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}