#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Movimientos .s-Rectangle_9 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rbLabelOff {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgOFF {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rbLabelOn {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgON {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rbLabelOff_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgOFF_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rbLabelOn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgON_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rbLabelOff_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgOFF_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rbLabelOn_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgON_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-tabsBG {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-tabsBG_2 {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-tabON {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EC0000;
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rContentModal {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-headBG {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgEllipsis {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rASModalBG {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgBtnPlus {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-pActions {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-arr1 {
  -ms-transform: rotate(270.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-arr2 {
  -ms-transform: rotate(270.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-arr3 {
  -ms-transform: rotate(270.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-arr3_1 {
  -ms-transform: rotate(270.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-arr3_2 {
  -ms-transform: rotate(270.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-arr3_3 {
  -ms-transform: rotate(270.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgBtnPlus2 {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgBtnPlusX {
  -ms-transform: rotate(0.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-arr3_4 {
  -ms-transform: rotate(270.0deg);
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rTitle {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C9C9C9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #C9C9C9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C9C9C9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}