#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Movimientos .s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rbLabelOff {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgOFF {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rbLabelOn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgON {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rbLabelOff_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgOFF_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rbLabelOn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgON_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rbLabelOff_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgOFF_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rbLabelOn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgON_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-tabsBG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-tabsBG_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-tabON {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rContentModal {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-headBG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgEllipsis {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rASModalBG {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgBtnPlus {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-pActions {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-arr1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -2px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-arr2 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -2px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-arr3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -1px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-arr3_1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -1px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-arr3_2 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -1px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-arr3_3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -1px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgBtnPlus2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-imgBtnPlusX {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-arr3_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -1px;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a #s-rTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-Header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bgRect {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgDividers {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSuperClub {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolic {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pSolicitudes {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolicitudes {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pInversiones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacciones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pTransacciones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacc {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bConsultas {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pConsultas {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-txtAyuda {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgTooltipBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f41b0706-9ba8-4991-89a2-c856f513cb15 #m-f41b0706-bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f41b0706-9ba8-4991-89a2-c856f513cb15 #m-f41b0706-imgSpinner {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-bgModal {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-stackBG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-TAgenda .m-f3af008b-itemBG_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-TAgenda .m-f3af008b-imgSelect_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 0px;
  margin-top: -1px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-TAgenda .m-f3af008b-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnNuevoDest {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-pSubtitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-pTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnVolver {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnConfirmar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgSelect_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgSelect_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgSelect_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtImporte {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtNombreDestinataio {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnVolver2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnConfirm {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtNombreDestinataio_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Button_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-pDesc {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgFeedbackOk {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-tTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnVolver2_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnVolver2_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgOFF {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgON {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgOFF_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgON_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgOFF_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgON_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgSelect_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-stackTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnClose {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-rect_bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-img_popup {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnConfirmYes {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnConfirmNo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgGradient_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-stackBG1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-imgDownload {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-tDownload {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-itemBG_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Paragraph_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtVal_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtTransAmt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-txtDestComprobante {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-stackTitle2_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f3af008b-ddbb-4522-8b30-4dfbed76ed8c #m-f3af008b-btnClose_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0e52d57f-f59d-44f5-9316-ce81f0ee767a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}