#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Movimientos .s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-rbLabelOff {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-imgOFF {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-rbLabelOn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-imgON {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-rbLabelOff_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-imgOFF_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-rbLabelOn_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-imgON_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-rbLabelOff_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-imgOFF_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-rbLabelOn_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-imgON_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-tabsBG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-tabsBG_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-tabON {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-headBG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-imgEllipsis {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-asBG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Label_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -2px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Label_3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -2px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-plus_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-plus_button_x {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-rTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bgRect {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgDividers {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSuperClub {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolic {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pSolicitudes {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolicitudes {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pInversiones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacciones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pTransacciones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacc {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bConsultas {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pConsultas {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-txtAyuda {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgTooltipBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f41b0706-9ba8-4991-89a2-c856f513cb15 #m-f41b0706-bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f41b0706-9ba8-4991-89a2-c856f513cb15 #m-f41b0706-imgSpinner {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}