#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Movimientos .s-Rectangle_9 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Rectangle_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-rbLabelOff {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-imgOFF {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-rbLabelOn {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-imgON {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-rbLabelOff_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-imgOFF_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-rbLabelOn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-imgON_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-rbLabelOff_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-imgOFF_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-rbLabelOn_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-imgON_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-tabsBG {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-tabsBG_2 {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-tabON {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EC0000;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-headBG {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-imgEllipsis {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-asBG {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Button_2 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 38px;
  width: 168px;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Label_4 {
  -ms-transform: rotate(270.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Button_1 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 38px;
  width: 168px;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Label_3 {
  -ms-transform: rotate(270.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-plus_button {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-plus_button_x {
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-rTitle {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C9C9C9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #C9C9C9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C9C9C9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-BG {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c #s-Header {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2bd069e1-d2a1-46e0-af16-d80bd07af90c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}