#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_8 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-imgSelect {
  -ms-transform: rotate(180.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_9 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #9F9F9F;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-btnVerDetalle {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_15 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-btnVerDetalle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_16 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-btnVerDetalle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_17 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-btnVerDetalle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_13 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-imgGraph {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_32 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-imgSelect_1 {
  -ms-transform: rotate(180.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_33 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #9F9F9F;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-btnVerDetalle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 17px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_34 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_35 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-btnVerDetalle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 17px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_36 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_37 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-btnVerDetalle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 17px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_38 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_39 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-btnVerDetalle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 17px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_40 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_41 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_42 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_43 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_44 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_45 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-imgGraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_60 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-imgSelect_2 {
  -ms-transform: rotate(180.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Rectangle_46 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-rbLabelOff_1 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-imgOFF_1 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-rbLabelOn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-imgON_1 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-rbLabelOff {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-imgOFF {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-rbLabelOn {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-imgON {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-imgGraficos {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-graficosHead {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-headBG {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 #s-rTitle {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C9C9C9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #C9C9C9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C9C9C9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-41e669aa-64cf-4813-9783-96e85759ba87 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}