#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-rectTop {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Movimientos .s-Rectangle_9 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Rectangle_7 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-tabsBG {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-tabOFF {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-tabON {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EC0000;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-headBG {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-imgSelector {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtHeaderTitle {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-imgFav {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-rASModalBG {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-imgBtnPlus {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Actions .s-Text_11 {
  -ms-transform: rotate(270.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-imgBtnPlus2 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-imgBtnPlusX {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-rTitle {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C9C9C9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #C9C9C9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C9C9C9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-bgModal {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-stackBG {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Rectangle_15 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-itemBG_2 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal_2 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-itemBG_1 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal_1 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-imgSelect_1 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-itemBG {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-imgSelect {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-btnVolver {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-btnConfirmar {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-btnVolver2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-btnConfirm {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-itemBG_7 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal_8 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-itemBG_6 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal_7 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-itemBG_5 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal_6 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-itemBG_3 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal_3 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-itemBG_4 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal_4 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal_5 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Button_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Button_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 244px;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Button_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 244px;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-pDesc {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-imgFeedbackOk {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-tTitle {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-stackTitle {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-btnClose {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-rect_bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-img_popup {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-btnConfirmYes {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 68px;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-btnConfirmNo {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 68px;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-imgGradient_1 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-stackBG1_1 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-itemBG_13 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal_14 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-itemBG_14 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal_15 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-itemBG_15 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal_16 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-itemBG_16 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal_17 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-itemBG_17 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal_18 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-imgDownload {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-tDownload {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Rectangle_8 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Rectangle_10 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Rectangle_11 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-itemBG_8 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal_9 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-txtVal_10 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Rectangle_13 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Rectangle_16 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-stackTitle2_1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 #s-btnClose_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-731cac8c-ad54-476d-a361-3a2ceb904573 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}