#s-759c42e9-55f2-4c66-b241-b122f4a99ce3 #s-imgBG {
  -ms-transform: rotate(0.0deg);
}
#s-759c42e9-55f2-4c66-b241-b122f4a99ce3 #s-imgCTA {
  -ms-transform: rotate(0.0deg);
}
#s-759c42e9-55f2-4c66-b241-b122f4a99ce3 #s-imgCards {
  -ms-transform: rotate(0.0deg);
}
#s-759c42e9-55f2-4c66-b241-b122f4a99ce3 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-759c42e9-55f2-4c66-b241-b122f4a99ce3 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-759c42e9-55f2-4c66-b241-b122f4a99ce3 #s-BG {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-759c42e9-55f2-4c66-b241-b122f4a99ce3 #s-Header {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-759c42e9-55f2-4c66-b241-b122f4a99ce3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}