#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtLegal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-bgRect {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBG_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVer_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgIcon_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tAmt_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tLabel_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBG_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVer_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgIcon_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tAmt_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tLabel_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVer {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgIcon {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tAmt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tLabel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBG_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVer_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgIcon_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tAmt_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tLabel_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBG_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVer_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgIcon_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tAmt_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tLabel_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBG_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVer_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgIcon_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tAmt_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tLabel_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tabsBG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tabON {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnTab2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnTab2_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnTenencias {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Button_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnProteccion {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-headBG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-rASModalBG {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBtnPlus {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-pActions {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-arr1 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -2px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-arr2 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -2px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-arr3 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 1px;
  margin-top: -1px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBtnPlus2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBtnPlusX {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-rTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-586932a5-7fd3-4e8e-a0ab-083ce9e2eeaf #m-586932a5-Header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bgRect {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80) ;
  filter: alpha(opacity=80) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgDividers {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSuperClub {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolic {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pSolicitudes {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bSolicitudes {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pInversiones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bInversiones {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacciones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pTransacciones {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bTransacc {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-bConsultas {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-pConsultas {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Image_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-btnTooltip1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-txtAyuda {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-BG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Header {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-imgTooltipBox {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-229ebc69-1a20-49c5-b1e4-3a23f1359010 #m-229ebc69-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f41b0706-9ba8-4991-89a2-c856f513cb15 #m-f41b0706-bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f41b0706-9ba8-4991-89a2-c856f513cb15 #m-f41b0706-imgSpinner {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-bgModal {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-stackBG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Button_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-TFondos .s-itemBG_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-TFondos .s-imgSelect_4 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 0px;
  margin-top: -1px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-24d9fbe8-6b4e-4e0b-9588-74ef4eb96b7c #m-24d9fbe8-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-24d9fbe8-6b4e-4e0b-9588-74ef4eb96b7c #m-24d9fbe8-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-24d9fbe8-6b4e-4e0b-9588-74ef4eb96b7c #m-24d9fbe8-pTitle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnsBG0_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVolver {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnConfirmar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-pLegales {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOff {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOff_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOn_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOff_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOn_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tTitleSelect {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgSelect {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-24d9fbe8-6b4e-4e0b-9588-74ef4eb96b7c #m-24d9fbe8-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-24d9fbe8-6b4e-4e0b-9588-74ef4eb96b7c #m-24d9fbe8-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-24d9fbe8-6b4e-4e0b-9588-74ef4eb96b7c #m-24d9fbe8-pTitle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVolver2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnConfirm {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVerDetalleCobertura {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tTitleCobertura {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgLogos {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgSelect_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgSelect_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVerDetalleCobertura_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgSelect_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgSelect_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVerDetalleCobertura_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVolver2_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnConfirm_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemTyC_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOff_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOn_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tTitleCobertura_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgLogos_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-stackTitle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnClose {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-rect_bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-img_popup {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnConfirmYes {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnConfirmNo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgGradient_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-stackBG1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2ca42170-7e36-4a45-b8e5-eebdef4eb894 #m-2ca42170-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2ca42170-7e36-4a45-b8e5-eebdef4eb894 #m-2ca42170-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-2ca42170-7e36-4a45-b8e5-eebdef4eb894 #m-2ca42170-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgDownload {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tDownload {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tTitleCobertura_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgLogos_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tTitleCobertura_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgLogos_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-stackTitle2_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnClose_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-bgModal_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-stackBG0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgSelect_2 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnsBG0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVolver_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnCotizar {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-DGSeguros .s-rrectBGTipo {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-DGSeguros .s-imgRBOff {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-DGSeguros .s-imgRBOn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-stackTitle0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnClose0 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}