#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtLegal {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-bgRect {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBG_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVer_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgIcon_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tAmt_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tLabel_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBG_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVer_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgIcon_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tAmt_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tLabel_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBG {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVer {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgIcon {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tAmt {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tLabel {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBG_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVer_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgIcon_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tAmt_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tLabel_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBG_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVer_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgIcon_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tAmt_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tLabel_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBG_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVer_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgIcon_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tAmt_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tLabel_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tabsBG {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tabON {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EC0000;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnTab2 {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnTab2_1 {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_3 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_4 {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnTenencias {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EC0000;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Button_6 {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnProteccion {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-headBG {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-rASModalBG {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBtnPlus {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-pActions {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-arr1 {
  -ms-transform: rotate(270.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-arr2 {
  -ms-transform: rotate(270.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-arr3 {
  -ms-transform: rotate(270.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBtnPlus2 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgBtnPlusX {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-rTitle {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C9C9C9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #C9C9C9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C9C9C9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-bgModal {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-stackBG {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-TFondos .s-itemBG_2 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-TFondos .s-imgSelect_4 {
  -ms-transform: rotate(270.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnsBG0_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVolver {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnConfirmar {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-pLegales {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOff {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOn {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOff_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOn_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOff_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOn_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tTitleSelect {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_3 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgSelect {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVolver2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnConfirm {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_4 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVerDetalleCobertura {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_22 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_21 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tTitleCobertura {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgLogos {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_7 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_12 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_9 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C9C9C9;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_13 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_19 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_10 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_20 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_23 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_37 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_19 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C9C9C9;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_38 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_20 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_39 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgSelect_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_22 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_41 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgSelect_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVerDetalleCobertura_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_23 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_42 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgSelect_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_24 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_43 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgSelect_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVerDetalleCobertura_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_21 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_25 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_40 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVolver2_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnConfirm_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemTyC_2 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOff_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgOn_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Line_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_26 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_35 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tTitleCobertura_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgLogos_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_6 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_18 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_36 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_44 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_26 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C9C9C9;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_45 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_46 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_27 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_47 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_48 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_49 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_28 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C9C9C9;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_50 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_29 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_51 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_35 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_56 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_30 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_52 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_31 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_53 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_32 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_54 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_33 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_55 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_36 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_57 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 244px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 244px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-stackTitle {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnClose {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-rect_bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-img_popup {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnConfirmYes {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 68px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnConfirmNo {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 68px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgGradient_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-stackBG1_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_13 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_14 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_14 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_15 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_15 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_16 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_16 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_17 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_17 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_18 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_56 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgDownload {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tDownload {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Line_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tTitleCobertura_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgLogos_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_8 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_24 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_34 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_60 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_61 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_37 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C9C9C9;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_62 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_63 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_38 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_64 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_65 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_66 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_39 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C9C9C9;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_67 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_40 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_68 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_41 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_69 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_42 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_70 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_43 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_71 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_44 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_72 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_45 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_73 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_46 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_74 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_47 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_75 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_48 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C9C9C9;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_76 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-itemBG_49 {
  border-top-width: 2px;
  border-top-style: dotted;
  border-top-color: #C9C9C9;
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_77 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Line_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_25 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-txtVal_27 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-tTitleCobertura_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgLogos_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-stackTitle2_1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnClose_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-bgModal_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-stackBG0 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_5 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-imgSelect_2 {
  -ms-transform: rotate(270.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_2 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnsBG0 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnVolver_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnCotizar {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-DGSeguros .s-rrectBGTipo {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-DGSeguros .s-imgRBOff {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-DGSeguros .s-imgRBOn {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Rectangle_9 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-stackTitle0 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d #s-btnClose0 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7abfd0fa-9c09-4acf-83ab-2e0a7daad98d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}