#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rectHead {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgSelect {
  -ms-transform: rotate(180.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_17 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_18 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_19 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_20 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_21 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_23 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rowBG_2 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgEllipsis_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-btnVerDetalle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rowBG_3 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgEllipsis_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-btnVerDetalle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rowBG_1 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgEllipsis_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-btnVerDetalle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rowBG {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #9F9F9F;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgEllipsis {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-btnVerDetalle {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_14 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_16 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_13 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_15 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_12 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_11 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_10 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rbBg {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rbLabelOff_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgOFF_1 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rbLabelOn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgON_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rbLabelOff {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgOFF {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rbLabelOn {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgON {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rectHead_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgSelect_1 {
  -ms-transform: rotate(180.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_36 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_37 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_38 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_39 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_40 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_41 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rowBG_7 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #9F9F9F;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgEllipsis_7 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-btnVerDetalle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 108px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_42 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_43 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_44 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_45 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_46 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_47 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_48 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rbBg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rbLabelOff_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgOFF_2 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rbLabelOn_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgON_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rbLabelOff_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgOFF_3 {
  -ms-transform: rotate(0.0deg);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rbLabelOn_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgON_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgEllipsis_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgGraficos {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-graficosHead {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-tabsBG {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-tabON {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EC0000;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-btnTab2 {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-headBG {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rASModalBG {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgBtnPlus {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Actions .s-Text_7 {
  -ms-transform: rotate(270.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgBtnPlus2 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgBtnPlusX {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rTitle {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C9C9C9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #C9C9C9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C9C9C9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-bgModal {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-stackBG {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-TFondos .s-itemBG_2 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-TFondos .s-imgSelect_4 {
  -ms-transform: rotate(270.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgSelect_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_11 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-pTitle {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_55 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-btnVolver {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-btnConfirmar {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_20 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-pFondoSelected {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_13 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_19 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-itemBG {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgSelect_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-itemBG_9 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgOff {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgOn {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-btnVolver2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-btnConfirm {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 148px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-itemTyC {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-itemBG_10 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgOff_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgOn_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-itemBG_4 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_4 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_5 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_21 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-pFondoSelected_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_22 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_23 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Button_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 244px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-pDesc {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgFeedbackOk {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-tTitle {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-stackTitle {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-btnClose {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-rect_bg {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-img_popup {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-btnConfirmYes {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EE2200;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #EE2200;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EE2200;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EE2200;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 68px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-btnConfirmNo {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 18px;
  width: 68px;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgGradient_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-stackBG1_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-itemBG_13 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_14 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-itemBG_14 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_15 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-itemBG_15 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_16 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-itemBG_16 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_17 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-itemBG_17 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_18 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_56 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-imgDownload {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-tDownload {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_25 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_49 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-itemBG_8 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_9 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_10 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_51 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_52 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  border-bottom-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Rectangle_53 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-pFondoSelected_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-txtVal_24 {
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-stackTitle2_1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 #s-btnClose_3 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8ccd5cef-48cb-4c25-826d-ebe38a724036 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}