#s-ae37cf77-0123-4309-947e-c662ebb8565f > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f > #alignmentBox {
  position: relative;
  max-width: 1280px;
  max-height: 800px;
  margin: 0 auto;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-PContent {
  position: absolute;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Panel_3 {
  width: 1280px;
  height: 551px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Panel_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Panel_3 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 551px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-PGrid {
  position: absolute;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Panel_2 {
  width: 1200px;
  height: 465px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Panel_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 465px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-gTableHead {
  width: 1202px;
  height: 40px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_1 {
  position: absolute;
  width: 150px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'Open Sans',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_1 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_1 > .paddingLayer {
  height: 40px;
  width: 131px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 19px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_1 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_2 {
  position: absolute;
  width: 454px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'Open Sans',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_2 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_2 > .paddingLayer {
  height: 40px;
  width: 435px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 19px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_2 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_3 {
  position: absolute;
  width: 202px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'Open Sans',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_3 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_3 > .paddingLayer {
  height: 25px;
  width: 164px;
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 19px;
  padding-right: 19px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_3 .valign {
  vertical-align: top;
  text-align: right;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_3 span {
  color: #585858;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #585858;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_5 {
  position: absolute;
  width: 195px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'Open Sans',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_5 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_5 > .paddingLayer {
  height: 40px;
  width: 157px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 19px;
  padding-right: 19px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_5 span {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #585858;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #EEEEEE;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_6 {
  position: absolute;
  width: 192px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'Open Sans',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_6 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_6 > .paddingLayer {
  height: 40px;
  width: 154px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 19px;
  padding-right: 19px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_6 span {
  color: #585858;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #585858;
  text-align: right;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos > table {
  padding-left: 5px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-Grid_cell_1 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-Grid_cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-Grid_cell_1 .verticalalign {
  vertical-align: top;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-Grid_cell_1 {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-gTableRow_1 {
  position: absolute;
  width: 1198px;
  height: 89px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-Rectangle_9 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-Rectangle_9 {
  position: absolute;
  width: 1198px;
  height: 89px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-Rectangle_9 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-Rectangle_9 > .paddingLayer {
  height: 88px;
  width: 1028px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 170px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-Rectangle_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iCTA input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iCTA input::-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iCTA input:-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iCTA input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iCTA {
  position: absolute;
  width: 130px;
  height: 40px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iCTA .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iCTA input {
  color: #575757;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  text-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iCTA > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A0A0A0;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A0A0A0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A0A0A0;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A0A0A0;
  border-radius: 20px 20px 20px 20px;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iCTA > .paddingLayer {
  height: 18px;
  width: 108px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  padding-right: 11px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iImporte input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iImporte input::-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iImporte input:-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iImporte input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iImporte {
  position: absolute;
  width: 126px;
  height: 41px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iImporte .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iImporte input {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iImporte > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iImporte > .paddingLayer {
  height: 41px;
  width: 126px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFrecuencia input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFrecuencia input::-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFrecuencia input:-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFrecuencia input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFrecuencia {
  position: absolute;
  width: 177px;
  height: 30px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFrecuencia .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFrecuencia input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  text-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFrecuencia > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFrecuencia > .paddingLayer {
  height: 30px;
  width: 177px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iTipo input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iTipo input::-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iTipo input:-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iTipo input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iTipo {
  position: absolute;
  width: 179px;
  height: 41px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iTipo .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iTipo input {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iTipo > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iTipo > .paddingLayer {
  height: 41px;
  width: 179px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iBanco input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iBanco input::-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iBanco input:-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iBanco input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iBanco {
  position: absolute;
  width: 426px;
  height: 30px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iBanco .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iBanco input {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 200;
  text-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iBanco > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iBanco > .paddingLayer {
  height: 30px;
  width: 426px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iDestinatario input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iDestinatario input::-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iDestinatario input:-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iDestinatario input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iDestinatario {
  position: absolute;
  width: 426px;
  height: 30px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iDestinatario .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iDestinatario input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iDestinatario > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iDestinatario > .paddingLayer {
  height: 30px;
  width: 426px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iApodo input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iApodo input::-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iApodo input:-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iApodo input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iApodo {
  position: absolute;
  width: 426px;
  height: 30px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iApodo .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iApodo input {
  color: #EE2200;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iApodo > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iApodo > .paddingLayer {
  height: 30px;
  width: 426px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFecha input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFecha input::-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFecha input:-moz-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFecha input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFecha {
  position: absolute;
  width: 82px;
  height: 41px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFecha .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFecha input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFecha > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-iFecha > .paddingLayer {
  height: 41px;
  width: 82px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-GTabs {
  position: absolute;
  width: 1280px;
  height: 50px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabsBG > .backgroundLayer {
  height: calc(100% + -3px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabsBG {
  position: absolute;
  width: 1280px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabsBG > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabsBG > .paddingLayer {
  height: 47px;
  width: 1280px;
  padding-top: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabsBG .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabsBG span {
  color: #EDEDED;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabsBG span#rtr-s-tabsBG_0 {
  color: #EDEDED;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabON > .backgroundLayer {
  height: calc(100% + -3px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EC0000;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabON {
  position: absolute;
  width: 260px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Open Sans',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabON > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabON > .paddingLayer {
  height: 47px;
  width: 260px;
  padding-top: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabON .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabON span {
  color: #EC0000;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabON span#rtr-s-tabON_0 {
  color: #EC0000;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rContentModal > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rContentModal {
  position: absolute;
  width: 1280px;
  height: 98px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  display: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rContentModal > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rContentModal > .paddingLayer {
  height: 98px;
  width: 1280px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rContentModal .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rContentModal span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rContentModal span#rtr-s-rContentModal_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-GSelectorCounters {
  position: absolute;
  width: 1280px;
  height: 160px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-headBG > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-headBG {
  position: absolute;
  width: 1280px;
  height: 160px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-headBG > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-headBG > .paddingLayer {
  height: 158px;
  width: 1280px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-headBG .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-headBG span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-headBG span#rtr-s-headBG_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-GCounter_1 {
  position: absolute;
  width: 72px;
  height: 50px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 19.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_5 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 19.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_6 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_6 span {
  color: #575757;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_6 span#rtr-s-Text_6_0 {
  color: #575757;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-GCounter {
  position: absolute;
  width: 80px;
  height: 50px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 19.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_3 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 19.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_4 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_4 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_4 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_4 span {
  color: #575757;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_4 span#rtr-s-Text_4_0 {
  color: #575757;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 26.0pt;
  font-family: 'Open Sans',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_1 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 200;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 200;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-GActionSheet {
  position: absolute;
  width: 1280px;
  height: 196px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rASModalBG > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rASModalBG {
  position: absolute;
  width: 1280px;
  height: 98px;
  opacity: 0.7;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  display: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rASModalBG > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rASModalBG > .paddingLayer {
  height: 98px;
  width: 1280px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rASModalBG .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rASModalBG span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rASModalBG span#rtr-s-rASModalBG_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-PActionSheet {
  position: absolute;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-asOFF_1 {
  width: 1280px;
  height: 78px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-asOFF_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-asOFF_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-asOFF_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 78px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-asOFF_1 .verticalalign {
  vertical-align: top;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-imgBtnPlus {
  position: absolute;
  width: 130px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-imgBtnPlus > img, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-imgBtnPlus > svg {
  height: 70px;
  width: 130px;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-asON {
  width: 1280px;
  height: 196px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-asON > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-asON td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-asON > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 196px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-asON .verticalalign {
  vertical-align: top;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-GActions {
  position: absolute;
  width: 1280px;
  height: 163px;
  display: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_8 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_8 {
  position: absolute;
  width: 1280px;
  height: 163px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_8 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_8 > .paddingLayer {
  height: 163px;
  width: 1280px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Group_3 {
  position: absolute;
  width: 278px;
  height: 101px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-pActions > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-pActions {
  position: absolute;
  width: 246px;
  height: 94px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 13px;
  font-size: 10.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-pActions > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-pActions > .paddingLayer {
  height: 94px;
  width: 246px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-pActions .valign {
  vertical-align: middle;
  text-align: right;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-pActions span {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-pActions span#rtr-s-pActions_0 {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-pActions span#rtr-s-pActions_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-pActions span#rtr-s-pActions_2 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'materialdesignjim-Regular',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr1 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr1 span {
  color: #EC0000;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 16.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr1 span#rtr-s-arr1_0 {
  color: #EC0000;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'materialdesignjim-Regular',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr2 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr2 span {
  color: #EC0000;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 16.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr2 span#rtr-s-arr2_0 {
  color: #EC0000;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'materialdesignjim-Regular',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3 span {
  color: #EC0000;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 16.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3 span#rtr-s-arr3_0 {
  color: #EC0000;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  transform: rotate(270deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'materialdesignjim-Regular',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3_1 > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3_1 span {
  color: #EC0000;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 16.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3_1 span#rtr-s-arr3_1_0 {
  color: #EC0000;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Hotspot_1 {
  position: absolute;
  width: 188px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Hotspot_1 > img, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Hotspot_1 > svg {
  height: 34px;
  width: 188px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-imgBtnPlus2 {
  position: absolute;
  width: 130px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-imgBtnPlus2 > img, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-imgBtnPlus2 > svg {
  height: 70px;
  width: 130px;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-imgBtnPlusX {
  position: absolute;
  width: 130px;
  height: 70px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  display: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-imgBtnPlusX > img, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-imgBtnPlusX > svg {
  height: 70px;
  width: 130px;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rTitle > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C9C9C9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #C9C9C9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C9C9C9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #C9C9C9;
  box-shadow: none;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rTitle {
  position: absolute;
  width: 1280px;
  height: 31px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rTitle > .clipping, #s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rTitle > .paddingLayer {
  height: 27px;
  width: 1241px;
  padding-top: 3px;
  padding-bottom: 1px;
  padding-left: 39px;
  padding-right: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rTitle .valign {
  vertical-align: middle;
  text-align: left;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rTitle span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rTitle span#rtr-s-rTitle_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-MHeader div.offset {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-MHeader {
  position: absolute;
  width: 1280px;
  height: 60px;
  overflow: visible;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-MController div.offset {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-MController {
  position: absolute;
  width: 1366px;
  height: 362px;
  overflow: visible;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-SLoader div.offset {
  position: absolute;
  top: -175px;
  left: -214px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-SLoader {
  position: absolute;
  width: 370px;
  height: 190px;
  overflow: visible;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Stack-transf div.offset {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Stack-transf {
  position: absolute;
  width: 1281px;
  height: 800px;
  overflow: visible;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}