#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Panel_2 > .valign {
  vertical-align: top;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_6 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Movimientos .s-Rectangle_9 {
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabsBG {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EDEDED;
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-tabON {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #EC0000;
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rContentModal {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-headBG {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9F9F9F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #9F9F9F;
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rASModalBG {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-imgBtnPlus {
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-pActions {
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr1 {
  -ms-transform: rotate(270.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr2 {
  -ms-transform: rotate(270.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3 {
  -ms-transform: rotate(270.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-arr3_1 {
  -ms-transform: rotate(270.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-imgBtnPlus2 {
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-imgBtnPlusX {
  -ms-transform: rotate(0.0deg);
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f #s-rTitle {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C9C9C9;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #C9C9C9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C9C9C9;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #C9C9C9;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ae37cf77-0123-4309-947e-c662ebb8565f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}