#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #alignmentBox {
  position: relative;
  max-width: 1280px;
  max-height: 810px;
  margin: 0 auto;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Background {
  position: absolute;
  width: 1280px;
  height: 810px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Background > img, #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Background > svg {
  height: 810px;
  width: 1280px;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Header {
  position: absolute;
  width: 1280px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Header > img, #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Header > svg {
  height: 60px;
  width: 1280px;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 {
  position: absolute;
  width: 520px;
  height: 810px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 > img, #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_4 > svg {
  height: 810px;
  width: 520px;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #C9C9C9;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 18px 18px 18px 18px;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  position: absolute;
  width: 170px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 23px;
  font-size: 12.0pt;
  font-family: 'Open Sans',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .clipping, #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 > .paddingLayer {
  height: 40px;
  width: 170px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 600;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Open Sans',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 600;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-pInput-DNI {
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_1 {
  width: 399px;
  height: 47px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 399px;
  height: 47px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label > .clipping, #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label span {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label span#rtr-s-label_0 {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label span#rtr-s-label_1 {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input input::-moz-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input input:-moz-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input {
  position: absolute;
  width: 399px;
  height: 32px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input input {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input > .paddingLayer {
  height: 31px;
  width: 398px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-pInput-Clave {
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_2 {
  width: 399px;
  height: 47px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_2 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 399px;
  height: 47px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label_1 > .clipping, #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label_1 span {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label_1 span#rtr-s-label_1_0 {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_1 {
  position: absolute;
  width: 399px;
  height: 32px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_1 .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_1 input {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_1 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_1 > .paddingLayer {
  height: 31px;
  width: 398px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-pInput-User {
  position: absolute;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_3 {
  width: 399px;
  height: 47px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_3 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 399px;
  height: 47px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'OpenSans-Regular',Arial;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label_2 > .clipping, #s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label_2 span {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label_2 span#rtr-s-label_2_0 {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-label_2 span#rtr-s-label_2_1 {
  color: #9F9F9F;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_2 {
  position: absolute;
  width: 399px;
  height: 32px;
  text-shadow: none;
  cursor: text;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_2 .valign {
  vertical-align: middle;
  line-height: 12.0pt;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_2 input {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_2 > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  box-shadow: none;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-input_2 > .paddingLayer {
  height: 31px;
  width: 398px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-chkTerminos div.offset {
  position: absolute;
  top: -272px;
  left: -557px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-chkTerminos {
  position: absolute;
  width: 22px;
  height: 22px;
  overflow: visible;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.devMobile .non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}