#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c #s-plus_button {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70) ;
  filter: alpha(opacity=70) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c #s-btnClose_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}