#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c #s-plus_button {
  -ms-transform: rotate(0.0deg);
}
#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
  -ms-transform: rotate(0.0deg);
}
#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c #s-btnClose_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e22c0e3d-86a7-4d8e-be38-42dc3db59e5c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}